* {
	margin: 0;
	padding: 0;
}
body {
	background-image: url(/img/pexels-kindelmedia-7527862.jpg);
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%), url(/img/pexels-kindelmedia-7527862.jpg);
	background-size: cover;
}
h1 {
	color: aliceblue;
	margin: 20px;
	text-align: center;
}
.navbar {
	background-color: #9d6a57 !important;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
a {
	color: aliceblue !important;
}
a:hover {
	font-weight: 600;
}
