* {
	margin: 0;
	padding: 0;
}
body {
	background-image: url(/img/background.jpg);
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%), url(/img/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
h1 {
	color: aliceblue;
	margin: 20px;
	text-align: center;
}
.navbar {
	background-color: #55637a !important;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
a {
	color: aliceblue !important;
}
a:hover {
	font-weight: 600;
}
.navbar-toggler {
	background-color: aliceblue;
}
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 500px;
	flex-direction: column;
}
input {
	margin-bottom: 30px;
	width: 480px;
	font-size: 11px;
	padding: 4px;
	border-radius: 10px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	background-color: #97aacc;
}
input::-webkit-input-placeholder {
	color: #2b323e;
}
